* {
  margin: 0;
  padding: 0;
}

body{
    background-image: linear-gradient(rgb(255, 255, 255), rgb(38, 73, 7));
    height: 100vh;
} 

.logo {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
}

.container {
  max-width: 955px;
  background:transparent;
  margin: auto;
  height: 60vh;
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px black;
  padding: 25px;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.message {
  background-color: gray;
  width: 24%;
  margin: 17px 2px;
  border: 2px solid black;
  border-radius: 8px;
}

.left {
  float: left;
  clear: both;
}

.right {
  float: right;
  clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}

#messageInp{
    width: 92%;
    border-radius: 2px solid black;
    height: 34px;
    border-radius: 6px;
    background: transparent;
}

.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    padding: 6px;
}